In [ ]:
cd sample_data

[Errno 2] No such file or directory: 'sample_data'
/content/sample_data

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
# warnings.filterwarnings(“ignore”)

In [ ]:
data1 = pd.read_csv("applicant.csv")
data2 = pd.read_csv("loan.csv")

In [ ]:
data1.dtypes

applicant_id                                               int64
Primary_applicant_age_in_years                             int64
Gender                                                    object
Marital_status                                            object
Number_of_dependents                                       int64
Housing                                                   object
Years_at_current_residence                                 int64
Employment_status                                         object
Has_been_employed_for_at_least                            object
Has_been_employed_for_at_most                             object
Telephone                                                 object
Foreign_worker                                             int64
Savings_account_balance                                   object
Balance_in_existing_bank_account_lower_limit_of_bucket    object
Balance_in_existing_bank_account_upper_limit_of_bucket    object
dtype: object

In [ ]:
data2.dtypes

loan_application_id                            object
applicant_id                                    int64
Months_loan_taken_for                           int64
Purpose                                        object
Principal_loan_amount                           int64
EMI_rate_in_percentage_of_disposable_income     int64
Property                                       object
Has_coapplicant                                 int64
Has_guarantor                                   int64
Other_EMI_plans                                object
Number_of_existing_loans_at_this_bank           int64
Loan_history                                   object
high_risk_applicant                             int64
dtype: object

In [ ]:
data = pd.merge(data1, data2, on="applicant_id", how="right")

In [ ]:
data.head(5)

,applicant_id,Primary_applicant_age_in_years,Gender,Marital_status,Number_of_dependents,Housing,Years_at_current_residence,Employment_status,Has_been_employed_for_at_least,Has_been_employed_for_at_most,...,Purpose,Principal_loan_amount,EMI_rate_in_percentage_of_disposable_income,Property,Has_coapplicant,Has_guarantor,Other_EMI_plans,Number_of_existing_loans_at_this_bank,Loan_history,high_risk_applicant
0,1469590,67,male,single,1,own,4,skilled employee / official,7 years,NaN,...,electronic equipment,1169000,4,real estate,0,0,NaN,2,critical/pending loans at other banks,0
1,1203873,22,female,divorced/separated/married,1,own,2,skilled employee / official,1 year,4 years,...,electronic equipment,5951000,2,real estate,0,0,NaN,1,existing loans paid back duly till now,1
2,1432761,49,male,single,2,own,3,unskilled - resident,4 years,7 years,...,education,2096000,2,real estate,0,0,NaN,1,critical/pending loans at other banks,0
3,1207582,45,male,single,2,for free,4,skilled employee / official,4 years,7 years,...,FF&E,7882000,2,building society savings agreement/life insurance,0,1,NaN,1,existing loans paid back duly till now,0
4,1674436,53,male,single,2,for free,4,skilled employee / official,1 year,4 years,...,new vehicle,4870000,3,NaN,0,0,NaN,2,delay in paying off loans in the past,1

In [ ]:
data.shape

(1000, 27)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 27 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   applicant_id                                            1000 non-null   int64
 1   Primary_applicant_age_in_years                          1000 non-null   int64
 2   Gender                                                  1000 non-null   object
 3   Marital_status                                          1000 non-null   object
 4   Number_of_dependents                                    1000 non-null   int64
 5   Housing                                                 1000 non-null   object
 6   Years_at_current_residence                              1000 non-null   int64
 7   Employment_status                                       1000 non-null   object
 8   Has_been_employed_for_at_least                          938 non-null    object
 9   Has_been_employed_for_at_most                           747 non-null    object
 10  Telephone                                               404 non-null    object
 11  Foreign_worker                                          1000 non-null   int64
 12  Savings_account_balance                                 817 non-null    object
 13  Balance_in_existing_bank_account_lower_limit_of_bucket  332 non-null    object
 14  Balance_in_existing_bank_account_upper_limit_of_bucket  543 non-null    object
 15  loan_application_id                                     1000 non-null   object
 16  Months_loan_taken_for                                   1000 non-null   int64
 17  Purpose                                                 988 non-null    object
 18  Principal_loan_amount                                   1000 non-null   int64
 19  EMI_rate_in_percentage_of_disposable_income             1000 non-null   int64
 20  Property                                                846 non-null    object
 21  Has_coapplicant                                         1000 non-null   int64
 22  Has_guarantor                                           1000 non-null   int64
 23  Other_EMI_plans                                         186 non-null    object
 24  Number_of_existing_loans_at_this_bank                   1000 non-null   int64
 25  Loan_history                                            1000 non-null   object
 26  high_risk_applicant                                     1000 non-null   int64
dtypes: int64(12), object(15)
memory usage: 218.8+ KB

Would a person with critical credit history be more creditworthy? Are young people more creditworthy? Would a person with more credit accounts be more creditworthy?

In [ ]:
data[data['high_risk_applicant'] == 1]['Loan_history'].groupby(data['Loan_history']).count().sort_values(ascending=False)

Loan_history
existing loans paid back duly till now     169
critical/pending loans at other banks       50
all loans at this bank paid back duly       28
delay in paying off loans in the past       28
no loans taken/all loans paid back duly     25
Name: Loan_history, dtype: int64

In [ ]:
data[data['high_risk_applicant'] == 0]['Loan_history'].groupby(data['Loan_history']).count().sort_values(ascending=False)

Loan_history
existing loans paid back duly till now     361
critical/pending loans at other banks      243
delay in paying off loans in the past       60
all loans at this bank paid back duly       21
no loans taken/all loans paid back duly     15
Name: Loan_history, dtype: int64

3. Above analysis shows that there is low risk with applicants with critical credit history. Hence can be given more credit.

In [ ]:
data[data['high_risk_applicant'] == 1]['Primary_applicant_age_in_years'].groupby(data['Primary_applicant_age_in_years']).count()

Primary_applicant_age_in_years
19     1
20     5
21     5
22    11
23    20
24    19
25    19
26    14
27    13
28    15
29    15
30    11
31    11
32     9
33    13
34    11
35     6
36     6
37     8
38     4
39     6
40     6
41     4
42     8
43     5
44     5
45     3
46     4
47     5
48     3
49     1
50     3
51     1
52     1
53     5
54     2
55     3
57     3
58     2
59     1
60     3
61     3
63     1
65     1
66     2
68     2
74     1
Name: Primary_applicant_age_in_years, dtype: int64

In [ ]:
data[data['high_risk_applicant'] == 0]['Primary_applicant_age_in_years'].groupby(data['Primary_applicant_age_in_years']).count()

Primary_applicant_age_in_years
19     1
20     9
21     9
22    16
23    28
24    25
25    22
26    36
27    38
28    28
29    22
30    29
31    27
32    25
33    20
34    21
35    34
36    33
37    21
38    20
39    15
40    19
41    13
42    14
43    12
44    12
45    12
46    14
47    12
48     9
49    13
50     9
51     7
52     8
53     2
54     8
55     5
56     3
57     6
58     3
59     2
60     3
61     4
62     2
63     7
64     5
65     4
66     3
67     3
68     1
70     1
74     3
75     2
Name: Primary_applicant_age_in_years, dtype: int64

In [ ]:
data[data['high_risk_applicant'] == 1]['Number_of_existing_loans_at_this_bank'].groupby(data['Number_of_existing_loans_at_this_bank']).count().sort_values(ascending=False)

Number_of_existing_loans_at_this_bank
1    200
2     92
3      6
4      2
Name: Number_of_existing_loans_at_this_bank, dtype: int64

In [ ]:
data[data['high_risk_applicant'] == 0]['Number_of_existing_loans_at_this_bank'].groupby(data['Number_of_existing_loans_at_this_bank']).count().sort_values(ascending=False)

Number_of_existing_loans_at_this_bank
1    433
2    241
3     22
4      4
Name: Number_of_existing_loans_at_this_bank, dtype: int64

By seeing the analysis, people with more credit accounts are more credit worthy.